<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firefly.sunrise">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".frmMyOrders"></activity>
        <activity android:name=".frmFinish" />
        <activity android:name=".frmBeforeFinishSenderDetails" />
        <activity android:name=".frmBeforeFinish" />
        <activity android:name=".frmCart" />
        <activity android:name=".frmViewMyOdersSpecial" />
        <activity android:name=".frmSelectDelivery" />
        <activity android:name=".frmMyFavourite" />
        <activity android:name=".frmRateNew" />
        <activity
            android:name=".frmNewHome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".frmTakeOrder" />
        <activity android:name=".frmViewMyOrders" />
        <activity android:name=".frmView" />
        <activity android:name=".frmOrder" />
        <activity android:name=".frmUserEdit" />
        <activity
            android:name=".frmResetPassword"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".frmRate">
            <intent-filter>
                <action android:name=".frmRate" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".frmHome">
            <intent-filter>
                <action android:name=".frmHome" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".frmVerifying"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".frmVerifying" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".frmRegister"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".frmRegister" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name=".MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>